
        <header>
            
            <img class="imp" src="assets/image/usuario.png" alt="usuario" width="20px" style="color: azure;">
            <img class="imp" src="assets/image/cesta.png" alt="cesta compra" width="23px">
            <form>
                <button class="imp" type="submit">Buscar</button>
                <input class="imp" type="text" name="buscar" placeholder="Buscar y pulse enter">

            </form>
               
            <img class="image" src="assets/image/logo.png" alt="logo" width="120px">


            <h1 class="cabe">ESTEFASION</h1>
                     
        </header>
        
        <nav >
            <ul >
                <li>CAMISAS</li>
                <li>CAMISETAS</li>
                <li>PANTALONES</li>
                <li>CALZADO</li>
                <li>COMPLEMENTOS</li>
            </ul>
        </nav>
