<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cliente</title>
</head>
<body><p th:text="${nombre}">xx</p>
    <div>
        <table>
            <tr>
                <th>Identificador</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Password</th>
                <th>Suscripcion_nl</th>
                <th>Direccion_envio</th>
                <th>Telefono</th>
                <th>Activo</th>
                <th>Acción</th>
                <th>Acción</th>
            </tr>
            <tr th:each="Cliente: ${tipos_Cliente}">
    			<td th:text="${Cliente.identificador}" />
    			<td th:text="${Cliente.nombre}" />
    			
    			<td>Borrar</td>
    			<td>Modificar</td>
			</tr>
        </table>
    </div>
    <div>
        <form method="get" action="/crearCliente">
            <input type="text" name="nombre" placeholder="Nombre de la categoría">
            
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>
    
</body>
</html>