<footer>
    <nav>
        <ul>
            <li>Contacto</li>
            <li>Quenes somos</li>
            <li>Trabaja con nosotros</li>
            <li>Aviso legal</li>
        </ul>
    </nav>
    <img class="redes" src="assets/image/facebook.webp" alt="facebook" width="50px">
    <img class="redes" src="assets/image/instagram.webp" alt="instagram" width="50px">
    <img class="redes" src="assets/image/twitter.webp" alt="Twitter" width="50px">
    <img class="redes" src="assets/image/what.webp" alt="what" width="50px">

    <p class="precio-producto">©Estefashion  2022</p>
</footer>
    


